SIGNALWIRE_PROJECT_KEY=YOUR-PROJECT-KEY
SIGNALWIRE_TOKEN=YOUR-TOKEN
TAP_ADDRESS=WSS-URL-YOUR-APP-LISTENS-TO/asr
DESTINATION_NUMBER=+15557788999
ENABLE_DEBUG=true
GOOGLE_APPLICATION_CREDENTIALS=config/google-credentials.json